/* *{
    margin: 0 auto;
    padding: 0 auto;
}

#clickButton {
    padding: 15px;
    background: rgb(217, 173, 166);
    color: rgb(24, 95, 228);
    border: 1px solid transparent;
    border-radius: 10px 16px;

} */
